<div class="grid justify-content-center tag">
    <div class="col-3 sm-6 md-4">
        <p-card>
            <div class="grid">
                <div class=" col-12 bg-logo">
                    <img src="../../assets/logo-medicar.png" width="200px">
                </div>

                <div class="col-12 el-margin">
                    <!-- <label for="">Usuário:</label> -->
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="col-12"> 
                        <label for="float-input">Email ou login</label>
                    </span>
                    
                </div>
                
                <div class=" col-12 el-margin">
                    
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText class="col-12"> 
                        <label for="float-input">Senha </label>
                    </span>
                </div>

                <div class="col-12 flex flex-wrap card-container blue-container" style="max-width: 500px">
                    <button pButton type="button" label="Criar Conta" class=" flex align-items-center justify-content-center  font-bold text-white m-2 border-round btn-create el-margin col-5" > </button>
                    <button pButton type="button" label="Acessar" class=" flex align-items-center justify-content-center font-bold text-white m-2 border-round btn-login el-margin col-5" > </button>

                </div>

            </div>
        </p-card>
    </div>
</div>


